<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Top Gear Search</title>
        <link rel="stylesheet" href="styles/normalize.css">
        <link rel="stylesheet" href="styles/skeleton.css">
		<link rel="stylesheet" href="styles/layout.css">
        <link rel="stylesheet" href="styles/type.css">
        <link rel="stylesheet" href="styles/color.css">
        <link rel="stylesheet" href="styles/font-awesome.min.css">
	</head>
	<body cz-shortcut-listen="true">
        <header>
            <div class="container">
                <div class="row margin-two">
                    <div class="twelve columns align-center">
                        <h1>Top Gear Search</h1>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section id="input">
                <div class="container">
                    <div class="row margin-two">
                        <div class="twelve columns align-center">
                            <input type="text" id="search-input">
                        </div>
                    </div>
                </div>
            </section>
            <section id="search-output">
            </section>
        </main>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="twelve columns align-center">
                        <p>Ben Walters 2016</p>
                    </div>
                </div>
            </div>
        </footer>
        <script type="text/template" id="episode-template">
            <div class="container">
                <div class="row">
                    <div class="twelve columns blue episode-header">
                        <div class="table-container u-full-width">
                            <h4><%= title %></h4>
                            <p class="air-date align-right"><%= air_date %></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns episode-content">
                        <div class="container u-full-width">
                            <div class="row">
                                <div class="three columns">
                                    <h6><span class="fa fa-user fa-md"></span> Guests</h6>
                                    <ul class="guests unstyled-list"></ul>
                                </div>
                                <div class="three columns">
                                    <h6><span class="fa fa-users fa-md"></span> Hosts</h6>
                                    <ul class="hosts unstyled-list"></ul>
                                </div>
                                <div class="three columns">
                                    <h6><span class="fa fa-car fa-md"></span> Cars</h6>
                                    <ul class="cars unstyled-list"></ul>
                                </div>
                                <div class="three columns">
                                    <h6><span class="fa fa-film fa-md"></span> Segments</h6>
                                    <ul class="features unstyled-list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="guest-template">
            <li><%= name %></li>
        </script>
        <script type="text/template" id="host-template">
            <li><%= name %></li>
        </script>
        <script type="text/template" id="car-template">
            <li><%= name %></li>
        </script>
        <script type="text/template" id="feature-template">
            <li><%= description %></li>
        </script>
        <script type="text/template" id="loading-template">
            <div class="loading">
                <h2 class="align-center"><span class="fa fa-spinner fa-xl fa-spin"></span></h2>
            </div>
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
        <script src="scripts/backbone-relational.js"></script>
        <script src="scripts/moment.js"></script>
        <script src="scripts/models.js"></script>
        <script src="scripts/collections.js"></script>
        <script src="scripts/views.js"></script>
        <script src="scripts/main.js"></script>
	</body>
</html>