.blue {
    background-color: #367ea3;
    color: white;
}
.white {
    background-color: #ffffff;
    color: #000000;
}

.border-gray {
    border-color: #d3d3d3;
}

.blue-text {
    color: #367ea3;
}

ul.auto-complete-list {
    border-color: #d3d3d3;
}
    ul.auto-complete-list li:hover {
        background-color: #367ea3;
        color: #ffffff;
    }