h4, h5, h6 {
    font-weight: 600;
}

.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

input#search-input {
    font-size: 2em;
    line-height: 2em;
}