body {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
    font-family: 'Anton', sans-serif;
    font-style: italic;
}
h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
li ul {
    font-size: 100%;
}

.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

input#search-term {
    font-size: 1.5em;
    line-height: 1.5em;
}

ul.auto-complete-list {
    text-align: left;
}